$mobile-max-width: 900px;
$small-mobile-max-width: 600px;

.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin-bottom: 30px;

    @media (max-width: $mobile-max-width) {
        grid-template-columns: repeat(2, 2fr);
        row-gap: 40px;
      }

      @media (max-width: $small-mobile-max-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.category-title {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 200;
}